*
{
    padding: 0;
    margin: 0;
}

h3{
    text-transform: uppercase;
    border-bottom: solid 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.picture{
    float: left;
    width: 30%;
    margin: 1.6%;
}