/*Element Tag*/

body{
    font-family: Roboto, sans-serif;
    background-color: lavender;
    
}

.nav img{
    float: left;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 100%;    
}
.nav{
    overflow: hidden;
    background-color: #333;
}


.nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 15px;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover{
    background-color: #ddd;
    color: black;
}

.nav a:active {
    color: #d14836 !important;
    }

.row1:after{
	content:"";
	display: table;
    clear: both;
}
.row1 .column{
    float: left;
    width: 40%;
	padding: 15px;
}



nav{
    background-color: skyblue;
}
@media (hover:hover){
    nav{

        font-size: smaller;
        transition: 1s;
    }
}
.title{
    font-size: 23px;
    font-weight: bold;
}
.date{
    font-style: italic;
    font-size: 15px;
}

h1{
    text-align: justify;
}

.row:after{
	content:"";
	display: table;
    clear: both;
}
.row .column{
    float: left;
    width: 40%;
	padding: 15px;
}




input{
    border: 2px solid #0eeeee;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    
}

textarea{
    border: 2px solid #0eeeee;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
}
input:focus{
    background-color: lightskyblue;
}

nav > ul > li{
    display: inline;
    padding: 15px 3px;
    font-size: 20px;
}
nav > ul > li > a{
    text-decoration: none;

}
nav > ul > li:hover
{
    background-color: #ffffff;
}
